
.answers {
  font-style: italic;
  font-weight: 900;
}

.btn {
  display: block;
}

#results1, #results2, #results3 {
  display: none;
}

img {
  float: right;
  padding: 5px;
  margin: 5px;
}

#quiz {
  border: 25px solid blue;
  padding: 25px;
  margin: 25px;
}

.results{
  padding: 2px;
  margin: 2px;
  text-align: center;
  vertical-align: middle;
}
